.wrapper {
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin-top: 20px;
}

header {
  .header__text {
    position: fixed;
    display: flex;
    width: 100vh - 60vh;
    height: 100vh;
    div {
      padding-right: 10px;
      margin: 0 -3px;
      font-weight: 500;
      &:first-child {
        margin-left: 5px;
      }
      &:last-child {
        color: $headerColor;
      }
    }
  }
}

main {
  .nav__text {
    display: flex;
    margin-bottom: 15px;
    li {
      margin-right: 25px;
      font-weight: 100;
      a {
        text-decoration: none;
        color: black;
      }
    }
  }
  .main__photos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
    div {
      width: 100%;
      height: 100%;
      cursor: pointer;
      &:hover {
        color: blue;
      }
      img {
        max-width: 100%;
      }
      .main__text {
        width: 100%;
        height: 100%;
        margin: 15px 0;
        font-weight: 100;
      }
    }
  }
}
